.root {
    -fx-background-color: whitesmoke;
}
.header {
    -fx-font-size: 24;
}
.table-header {
    -fx-font-size: 20;
}
.value {
    -fx-font-size: 18;
}

.text-label {
    -fx-font-size: 12;
}


.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

